@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*.outline-title {*/
/*  color: rgba(0, 0, 0, 0);*/
/*  -webkit-text-stroke: 2px black;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  text-rendering: optimizeLegibility;*/
/*}*/

/*!*.outline-title {*!*/
/*!*  !*font-family: sans-serif;*!*!*/
/*!*  !*color: white;*!*!*/
/*!*  text-shadow:*!*/
/*!*          1px 1px 0 #000,*!*/
/*!*          -1px -1px 0 #000,*!*/
/*!*          1px -1px 0 #000,*!*/
/*!*          -1px 1px 0 #000,*!*/
/*!*          1px 1px 0 #000;*!*/
/*!*  !*font-size: 50px;*!*!*/
/*!*}*!*/

.broken {
  /*-webkit-text-stroke: 2px black;*/
  -webkit-text-stroke: 2px black;
}

.tfixed {
  position: relative;
  /* We need double the stroke width because half of it gets covered up */
  -webkit-text-stroke: 4px black;
}
/* Place the second copy of the text over top  of the first */
.fixed span {
  position: absolute;
  left: 0;
  -webkit-text-stroke: 0;
  pointer-events: none;
}


/*div { font-family: 'Inter var'; color: white; }*/
/*div { font-family: 'Inter var'; color: rgb(253 230 138); }*/
/*div { font-family: 'Arial'; color: rgb(253 230 138); }*/
/*div { font-family: 'Arial'; color: rgb(253 230 138); }*/
/*div { color: white; }*/
/* (optional) adjustments to make the two approaches produce more similar shapes */
.broken { font-weight: 800; font-size: 40px; }
.fixed { font-weight: 600; font-size: 39px; letter-spacing: 1.2px; }